<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/default}"
>
	<div layout:fragment="content" class="container my-4">
	    <h2 class="text-center mb-4">회원 리스트</h2>
	    <table class="table table-striped">
		      <thead>
		          <tr>
		              <th>아이디</th>
		              <th>이름</th>
		              <th>이메일</th>
		              <th>가입일</th>
		              <th>삭제</th>
		          </tr>
		      </thead>
		      <tbody>
		          <tr th:each="user: ${list}">
		              <td th:text="${user.id}"></td>
		              <td th:text="${user.name}"></td>
		              <td th:text="${user.email}"></td>
		              <td th:text="${#temporals.format(user.createdAt, 'yyyy년 MM월 dd일')}"></td>
		              <td>
		                  <form action="/user/delete" method="POST">
		                      <input type="hidden" th:value="${user.id}" name="id" />
			                  <input type="submit" class="btn btn-danger btn-sm" value="삭제" />
		                  </form>
		              </td>
		          </tr>
		      </tbody>
		</table>
	</div>
</html>